{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "trailingComma": "all",
  "printWidth": 350,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "useTabs": false
}
